<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.TrackerSeedReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <receiver
            android:name=".debug.ShellProofReceiver"
            android:exported="true" />
    </application>
</manifest>
