<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
        <intent>
            <action android:name="com.gau.go.launcherex.theme" />
        </intent>
        <intent>
            <action android:name="com.teslacoilsw.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="com.anddoes.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="com.fede.launcher.THEME_ICONPACK" />
        </intent>
        <intent>
            <action android:name="com.dlto.atom.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="app.lawnchair.icons.THEMED_ICON" />
        </intent>
        <intent>
            <action android:name="ch.deletescape.lawnchair.ICONPACK" />
        </intent>
    </queries>
</manifest>
